/* Alteração do devicetree para reconhecer os sensores e o controlador de carga na comunicação i2c */
&i2c1 {
    max30102: max30102@57{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x57 >;
    };

    bq25180: bq25180@6a{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x6a >;
    };
};

/* Alteração do devicetree para habilitar o canal analógico */
&adc {
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>;
    };
};